{% block navbar %}
<meta http-equiv="Content-Type" content="text/html; charset=GBK" />
<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='tagmanager/tagmanager.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='simditor/styles/simditor.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='simditor/styles/font-awesome.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/default.css') }}">
<script type="text/javascript" src="{{ url_for('static', filename='jquery/jquery-2.1.0.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='tagmanager/tagmanager.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='simditor/scripts/js/module.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='simditor/scripts/js/simditor.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='simditor/scripts/js/uploader.js') }}"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
<script type="text/javascript" charset="utf-8">
    $(document).ready(function(){
    var socket = io.connect('http://' + document.domain + ':' + location.port);
    socket.emit('join', {room: 'user:' + {{ current_user.id }}});
    socket.on('count', function(msg) {
        $('.count').text(msg["data"])
    });
    socket.emit('collect', {})
    socket.on('collect_or_not', function(msg) {
        $('.collect').text(msg["data"])
    });
    $('.collect').each(function() {

        this_collect = this;

        (function (this_collect) {
        $.ajax({
            type: 'GET',
            url: "/ajax/collect",
            async: false,
            data : {
                id : $(this_collect).attr("id")
            },
            success: function(data, status){
                $(this_collect).text(data);
            }
        });}) (this_collect);

        $(this).click(function() {
            socket.emit('collect_answer', {path: location.pathname, id: $(this).attr('id')});
            if ($(this).text() == "收藏")
            $(this).text("取消收藏");
            else
            $(this).text("收藏");
            return false;
        })
    });
    });
</script>
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <b><a class="navbar-brand" href="{{ url_for('main.index') }}">者也</a></b>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {%if current_user.is_authenticated() %}
                {% set message_count = current_user.get_unread_messages()|length %}
                <li><a href="{{ url_for('main.unread') }}">消息<span class="badge count">{{ message_count }}</span></a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" id="dropdownMenu1" aria-expanded="false" href="#">
                        {{ current_user.username }}
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                        <li><a  href="{{ url_for('main.user', uid=current_user.id) }}">主页</a></li> 
                        <li><a href="{{ url_for('auth.logout') }}">退出</a></li>
                    </ul>
                </li>
                {% else %}
                <li><a href="{{ url_for('auth.login') }}">登录</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}
    <div class="col-md-8 column">
    {% block page_content %}{% endblock %}
    </div>
    <div class="col-md-4 column">
    {% block sidebar %}{% endblock %}
    </div>
</div>
{% endblock %}
